.cus-button {
    background-color: rgba(14, 180, 252, 0.6);
}

.cus-button:hover {
    background-color: rgba(14, 180, 252);
}

.cus-user-card {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 2px;
    width: 20rem;
    height: 25rem;
}

@media (max-width: 700px) {
    .cus-home-button {
        margin: 10px;
    }

    .cus-room-container {
        flex-direction: column;
    }

    .cus-user-card {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: auto;
        margin-right: auto;
        width: 16rem;
        height: 20rem;
    }
}

.cus-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* 어두운 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cus-modal-content {
    display: flex;
    position: relative;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #fff; /* 흰색 모달 */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    min-height: 150px;

    gap: 50px;
    padding: 50px 100px;

    input {
        width: 400px;
        height: 40px;
    }

    button {
        color: white;
        border: none;

        border-radius: 5px;
        width: 200px;
        height: 40px;
    }
}

.cus-modal-close {
    position: absolute;
    top: 10px;
    right: 10px;

    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    cursor: pointer;
}
.hidden {
    display: none;
}
