.cus-parent {
    height: 88vh;
    padding: 2rem;
    overflow: auto;
}

.cus-mode-button-container {
    height: 12%;
}

.inner-container {
    padding: 3rem;
    border-radius: 1.25rem;
    overflow: auto;
    height: 88%;
    background-color: rgba(14, 180, 252, 0.25);
}

.cus-lobby-container {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0;
    margin: 0;
}

@media (max-width: 1200px) {
    .cus-lobby-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .cus-lobby-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .cus-lobby-container {
        grid-template-columns: 1fr;
    }
}
