

.cus-auth-button  {
	width: 18%;
    position: absolute; 
    top: 85%; 
    left: 20%; 
    transform: translate(-50%, -50%);
}

.cus-login-button {
	width: 18%;
    position: absolute; 
    top: 85%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.cus-signup-button {
	width: 18%;
    position: absolute; 
    top: 85%; 
    left: 80%; 
    transform: translate(-50%, -50%);
}

.cus-modal-content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 50px 100px;

    input {
        width: 400px;
        height: 40px;
    }

    button {
        color: white;
        border: none;
    
        border-radius: 5px;
        width: 200px;
        height: 40px;
    }
 
}

